@{
    ViewBag.Title = "Home Page";
}

<div class="intro">
    <div class="text container">
        <h1>Cras pede libero, dapibus nec, pretium sit amet, tempor quis. Fusce aliquam vestibulum ipsum.</h1>
        <h4>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make </h4>
    </div>
</div>

<main>
    <div class="wrapper">
        <div class="BlankRow"></div>
        <div class="pokus1">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean fermentum risus id tortor. Etiam quis quam.
            Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Aliquam id dolor. Duis ante orci,
            molestie vitae vehicula venenatis, tincidunt ac pede.
            Suspendisse nisl. Fusce tellus odio, dapibus id fermentum quis,
            suscipit id erat. Aenean placerat. Maecenas lorem.
        </div>
        <div class="pokus2">
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
            Aenean fermentum risus id tortor. Etiam quis quam.
            Cum sociis natoque penatibus et magnis dis parturient montes,
            nascetur ridiculus mus. Aliquam id dolor. Duis ante orci,
            molestie vitae vehicula venenatis, tincidunt ac pede.
            Suspendisse nisl. Fusce tellus odio, dapibus id fermentum quis,
            suscipit id erat. Aenean placerat. Maecenas lorem.
        </div>
        <div class="fill"></div>
    </div>
</main>